<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tutorial Task</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/main.css')}}">
</head>

<body class="bg-white">
    <script src="{{url_for('static',filename='dist/js/bundle.js')}}"></script>

    <p class="text-gray-800 text-sm absolute top-0 right-0 p-1">
        Prolific PID: {{prolific_pid}}
    </p>
    <div class="border-b-2 border-gray-100 py-6 text-center bg-gray-50 text-gray-800" id="header">
        <h1 class="text-5xl font-bold m-0">Tutorial Task</h1>
    </div>

    {% if error_text %}
    <P class="md:max-w-3xl mx-auto text-red-700 text-4xl font-bold text-center pt-8">
        {{ error_text }}
    </P>
    {% else %}
    <div class="md:max-w-3xl mx-auto mt-8 text-justify">
        <h1 class="text-3xl font-normal leading-normal mt-0 mb-2">
            Good Unanswerable Questions
        </h1>
        <p>
            Unanswerable questions <i>look like</i> they could be answered by a part of the passage -- just like
            answerable questions. But in fact, the answer would be wrong.
        </p>
        <p>
            A good unanswerable question fulfills at least one of the following:
        </p>
        <ol class="list-disc list-outside space-y-1 pl-8 text-left">
            <li class="pl-3">
                Is not answerable from the passage but there is a span in the text that looks like an answer i.e.
                something of the same type as what the question asks for.
            </li>
            <li class="pl-3">
                Is about the same topic and domain as the text.
            </li>
            <li class="pl-3">
                Uses different wording than in the passage.
            </li>
            <li class="pl-3">
                Uses different grammar than the passage.
            </li>
        </ol>
        <p>
            Have a look at the following examples of good and bad answerable questions:
        </p>
        <!-- Good Examples -->
        <div class="h-auto md:max-w-2xl mx-auto rounded-lg mb-6 bg-annotation-green p-8">
            <h1 class="text-2xl">
                ✅ Good Example
            </h1>
            <p>
                ... By the end of the embargo in March 1974, the price of oil had risen from US$3 per barrel to nearly
                <span class="bg-neon-yellow px-1 py-0.5">$12</span> globally; US prices were significantly higher. ...
            </p>
            <p>
                ❓ What was the US price of oil in March of 1974?
            </p>
            <p>
                ✅ This is a good unanswerable question. The passage talks about oil and prices, and $12 looks like it
                could be the answer -- but in fact, it isn't. Also, the question uses different wording than the
                passage.
            </p>
        </div>

        <!-- Bad Examples -->
        <div class="h-auto md:max-w-2xl mx-auto rounded-lg mb-6 bg-annotation-red p-8">
            <h1 class="text-2xl">
                ❌ Bad Example
            </h1>
            <p>
                Southern California, often abbreviated SoCal, is a geographic and cultural region that generally
                comprises California's southernmost 10 counties...
            </p>
            <p>
                ❓ What is the population of California?
            </p>
            <p>
                ❌ The question is too far off. The passage is about southern california, but not about the population.
                As a result the passage does not include a misleading span that looks like an answer.
            </p>
        </div>

        <p class="mt-12">
            As a last step please look at the following example:
        </p>
        <div class="h-auto md:max-w-2xl mx-auto rounded-lg mb-6 bg-annotation-green p-8">
            <h1 class="text-2xl">
                ✅ Good Example
            </h1>
            <p>
                The crisis had a major impact on international relations and created a rift within NATO. […] By January
                18, 1974, US Secretary of State Henry Kissinger had negotiated
                <span class="bg-neon-yellow px-1 py-0.5">
                    an Israeli troop withdrawal from parts of the Sinai Peninsula
                </span>
                .
            </p>
            <p>
                ❓ What did NATO negotiate?
            </p>
            <p>
                ✅ This is a good question. It's about the same topic, but has different wording. "An Israeli troop
                withdrawal from parts of the Sinai Peninsula" looks like an answer -- but on a close reading, it doesn't
                answer the question.
            </p>
        </div>
        <p class="mb-0">
            Please enter this question and answer down below. (Please exclude the surrounding white spaces again)
        </p>
    </div>

    <div class="py-4 bg-gray-50 border border-gray-300 border-y-2 mt-8">
        <div id="label-studio"></div>
    </div>

    <div class="flex flex-col items-center pt-8 pb-12">
        <button disabled="true" id="nextPageButton" type="submit" onclick="nextPage()" style="visibility: hidden;"
            class="rounded-lg border border-gray-300 bg-gray-100 text-gray-600 block font-bold py-4 px-6 ml-2 flex items-center">
            Return to Task Overview
            <svg class="h-5 w-5 ml-2 fill-current" clasversion="1.1" viewBox="-49 141 512 512"
                style="enable-background:new -49 141 512 512;">
                <path id="XMLID_11_" d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z" />
            </svg>
        </button>
    </div>

    {% endif %}

    <script>
        const urlParameter = new URLSearchParams(window.location.search);
        const study_id = urlParameter.get("STUDY_ID");
        const session_id = urlParameter.get("SESSION_ID");
        const prolific_pid = urlParameter.get("PROLIFIC_PID");
        const language = urlParameter.get("language");
        const submitEndpoint = "/tutorial/submit"
        const paragraph_text = "The crisis had a major impact on international relations and created a rift within NATO. […] By January 18, 1974, US Secretary of State Henry Kissinger had negotiated an Israeli troop withdrawal from parts of the Sinai Peninsula.";

        var data = { "text": paragraph_text };

        var config = `
            <View classname="p-4">
                <View classname="px-6">
                    <Text name="text" value="$text" granularity="word"/>
                </View>

                <View classname="mt-12 bg-lime-200 bg-opacity-25 p-6">
                    ` + generateQuestion(1, "#008000") + `
                </View>
            </View>
        `;

        function generateQuestion(questionNumber, label_color) {
            return `
                <View style="display: flex;">
                    <View>
                        <Header value="Question ` + questionNumber + `:" size="5"/>
                    </View>
                    <View style="flex-grow: 1; margin-left: 1em">
                        <TextArea name="question-` + questionNumber + `" toName="text" showSubmitButton="false" maxSubmissions="1" editable="true" required="true" requiredMessage="Missing input for Question ` + questionNumber + `"/>
                    </View>
                </View>
                <View style="margin-top: -1.5em; margin-bottom: 1.5em;">
                    <Labels name="answer-` + questionNumber + `" toName="text" maxUsages="1">
                        <Label value="Answer ` + questionNumber + `" background="` + label_color + `"/>
                    </Labels>
                </View>
            `;
        }

        // For documentation see: https://labelstud.io/guide/frontend_reference.html
        var labelStudio = new LabelStudio('label-studio', {
            config: config,

            interfaces: [
                "update",       // Show a button to update the current task after submitting.
                "submit",       // Show a button to submit or update the current annotation.
                "controls",     // Enable panel with controls (submit, update, skip).
                "topbar",       // A labeling interface that lists the top-level items in the Label Studio UI.
                "side-column",  // Show a column on the right side of the Label Studio UI.
                "edit-history", // Show edit history.
            ],

            user: {
                id: 1,
                firstName: prolific_pid,
                lastName: prolific_pid,
            },

            task: {
                id: 0,
                "data": data,
                annotations: [],
                predictions: [],
            },
        });

        labelStudio.on('labelStudioLoad', (LS) => {
            var c = LS.annotationStore.addAnnotation({
                userGenerate: true
            });
            LS.annotationStore.selectAnnotation(c.id);
        });

        labelStudio.on('submitAnnotation', (LS, annotation) => {
            submit(annotation)
        });

        labelStudio.on('updateAnnotation', (LS, annotation) => {
            submit(annotation)
        });

        function submit(annotation) {
            let serializedAnnotation = annotation.serializeAnnotation()
            let question = ""
            for (var i = 0; i < serializedAnnotation.length; i++) {
                if (serializedAnnotation[i]["from_name"] == "question-1") {
                    question = serializedAnnotation[i]["value"]["text"][0].trim()
                }
            }

            if (question != "What did NATO negotiate?") {
                window.alert("The question must be exactly \"What did NATO negotiate?\" (without the quotation marks)")
            } else if (annotation.serializeAnnotation().length != 2) {
                window.alert("You must select an answer span for answer 1")
            } else {
                let answer_start = 0
                let answer_end = 0

                for (var i = 0; i < serializedAnnotation.length; i++) {
                    if (serializedAnnotation[i]["from_name"] == "answer-1") {
                        answer_start = serializedAnnotation[i]["value"]["start"]
                        answer_end = serializedAnnotation[i]["value"]["end"]
                    }
                }

                if (answer_start == 167 && (answer_end == 228 || answer_end == 229)) { // answer_end == 229 is needed for firefox since it automatically marks the dot too
                    fetch(submitEndpoint, {
                        "method": "PUT",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        "body": JSON.stringify({
                            "prolific_pid": prolific_pid,
                        }),
                    }).then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            throw new Error('Something went wrong, please try submitting again.\nInvalid status code: ' + response.status);
                        }
                    }).then(data => {
                        if (data["success"]) {
                            window.alert("You have successfully completed the tutorial. Please click on the \"Return to Task Overview\" button below.");
                            let nextPageButton = document.getElementById('nextPageButton');
                            nextPageButton.classList.remove("border-gray-300", "bg-gray-100");
                            nextPageButton.classList.add("border-orange-400", "bg-orange-100", "hover:bg-orange-200");
                            nextPageButton.style.visibility = "visible";
                            nextPageButton.disabled = false;
                        } else {
                            window.alert(data["message"])
                        }
                    }).catch(error => window.alert(error));
                } else {
                    window.alert("For answer 1 you must exactly mark \"an Israeli troop withdrawal from parts of the Sinai Peninsula\"")
                }
            }
        }

        function nextPage() {
            window.open("..?" + urlParam("PROLIFIC_PID", prolific_pid) + urlParam("STUDY_ID", study_id) + urlParam("SESSION_ID", session_id) + urlParam("language", language), "_self")
        }

        function urlParam(identifier, value) {
            if (value !== null) {
                return identifier + "=" + value + "&";
            } else {
                return "";
            }
        }

    </script>
</body>